
.navbar-menu{
    background-color: var(--blue);
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

}

.navbar-menu a{
    text-decoration: none;
    color: var(--white);
    text-align: center;
    padding: 1em 1.1em;
    font-size: 17px;
}

.navbar-menu a:hover{
    background-color: var(--dark-green);
}