@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
}

p,
li {
  font-family: var(--texto);
  font-size: 16px;
  line-height: 26px;
}

h1 {
  font-size: 48px;
  font-family: var(--titulos);
  font-weight: 700;
}

:root {
  /*Colores*/
  --blue: #012340;
  --dark-green: #025939;
  --medium-green: #027333;
  --strong-green: #03a63c;
  --white: #f5f5f5;

  /*Fuentes*/
  --titulos: "Montserrat", sans-serif;
  --texto: "Lato", serif;
}

/*Area presentacion*/

.presentacion {
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.presentacion-img img {
  border-radius: 500px;
  margin: 2em;
  max-width: 240px;
  max-height: 240px;
  float: left;
}

.presentacion-texto {
  float: right;
  max-width: 70%;
  padding: 2em;
}

.presentacion-texto h1 {
  color: var(--dark-green);
  margin-bottom: 0.2em;
}
.presentacion-texto h2 {
  font-size: 26px;
  font-family: var(--titulos);
  font-weight: 400;
  color: var(--strong-green);
  margin-bottom: 0.2em;
}

/*Area Why*/
.why {
  background-color: var(--blue);
  padding: 4em;
}

.why h1 {
  color: var(--strong-green);
  margin-bottom: 1em;
}
.why p {
  color: var(--white);
}

/*Area proyectos*/

.proyectos {
  background-color: var(--white);
  padding: 2em;
}

.proyectos h1 {
  text-align: center;
  color: var(--dark-green);
}

/*Area educacion*/

.educacion {
  background-color: var(--blue);
  padding: 4em;
}

.educacion h1 {
  color: var(--strong-green);
  margin-bottom: 0.2em;
  font-size: 36px;
}
.educacion h2 {
  color: var(--strong-green);
  margin-bottom: 0.2em;
  font-size: 26px;
}

.educacion h3 {
  color: var(--medium-green);
  margin-bottom: 0.2em;
  font-family: var(--titulos);
  font-size: 22px;
}

.educacion p,
li {
  color: var(--white);
}

/*Area Stack*/
.stack {
  background-color: var(--white);
  padding: 4em;
  text-align: center;
  color: var(--dark-green);
}

.stack-img-container {
  margin-top: 2em;
  justify-content: space-between;

  display: flex;
  flex-wrap: wrap;
}

.stack-img-container img {
  max-width: auto;
  max-height: 120px;
  margin: 0.6em;
}

.stack h2 {
  margin: 1em;
  color: var(--strong-green);
  font-family: var(--titulos);
  text-align: left;
}

/*Area experiencia*/

.experiencia {
  background-color: var(--blue);
  padding: 2em;
  text-align: center;
}

.experiencia h1 {
  color: var(--strong-green);
}

/*Area contacto*/

.contacto {
  background-color: var(--white);
  padding: 2em;
  text-align: center;
  color: var(--dark-green);
}

.contacto-img-container {
  padding: 2em;
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}
.contacto-img-container img {
  max-height: 60px;
  max-width: auto;
}

.contacto-img-container img:hover {
  cursor: pointer;
  transform: translateY(-8px);
}

button {
  border-radius: 50px;
  padding: 1em 2em;
  color: var(--white);
  font-family: var(--texto);
  background-color: var(--medium-green);
  border: 0;
  margin: 0.5em;
  cursor: pointer;
}

button:hover {
  background-color: var(--strong-green);
}
