@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&display=swap');
*{
  margin:0;
}

p{
  font-family: var(--texto);
  font-size: 16px;
  line-height: 26px;
}

h1{
  font-size: 48px;
  font-family: var(--titulos);
  font-weight: 700;
  
}

:root{
  /*Colores*/
  --blue: #012340;
  --dark-green: #025939;
  --medium-green: #027333;
  --strong-green: #03A63C;
  --white: #f5f5f5;

  /*Fuentes*/
  --titulos: 'Montserrat', sans-serif;
  --texto:  'Lato', serif;
}

/*Area presentacion*/

.presentacion{
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 4em 0em;
  
  
  
}

.presentacion-img{
  background-color: red;
  border-radius: 500px;
  margin:2em;
  width: 200px;
  height: 200px;
  float: left;
}

.presentacion-texto{
  float: right;
  max-width: 70%;
  padding: 2em;
} 

.presentacion-texto h1{
  color: var(--dark-green);
  margin-bottom: 0.2em;
  
}
.presentacion-texto h2{
  font-size: 26px;
  font-family: var(--titulos);
  font-weight: 400;
  color: var(--strong-green);
  margin-bottom: 0.2em;
  
  
}

/*Area Why*/
.why{
  background-color: var(--blue);
  padding: 4em;

}

.why h1{
  color: var(--strong-green);
  margin-bottom: 1em;
}
.why p{
  color: var(--white)
}

/*Area proyectos*/

.proyectos{
  background-color: var(white);
  padding: 2em;
}

.proyectos h1{
  text-align: center;
  color: var(--dark-green);
}



